.App {
  text-align: center;
}





  /* .body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #007bff;
    max-width: 90%;
  }
  .body img{

  } */
 
  /* .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .footer-item .footer-topic {
    font-weight: bold;
    margin-bottom: 5px;
  }

  */