.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px; /* Add border-radius property to make the container round */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Rest of the CSS styles... */


.user-profile {
  background-size: cover;
  border-radius: 50%;
}

.image1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  margin: 0 auto 10px;
  position: relative;
}

.has-photo .placeholder {
  display: none;
}


.delete-photo-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.photo-input {
  margin-top: 10px;
}

.edit-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.display-value {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 5px;
  line-height: 1.4;
}

.appointment-section {
  margin-top: 20px;
}

.appointment-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-update,
.btn-cancel,
.btn-edit {
  margin-right: 10px;
}

.btn-make-appointment {
  background-color: #28a745;
}

.make-appointment-form {
  margin-top: 20px;
}

.appointment-details {
  margin-top: 20px;
  border: 2px solid white;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  color: white;
  
}

.appointment-details h3 {
  margin-top: 0;
  text-align: center;
}

.btn-save,
.btn-delete {
  margin-right: 10px;
  background-color: #dc3545;
}

.btn-delete {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
}

.btn-delete:hover {
  background-color: #f1f3f5;
}
