.auth-form-container {

  width: 50vw;
  
  height: 50vh;
  
  /* margin: 0 auto;
  
  padding: 20px;
  
  border: 1px solid #ccc;
  
  border-radius: 5px; */
  
  display:flex;
  
  flex-direction: row;
  
  }
  
  
  
  
  
  h2 {
  
  margin-bottom: 2px;
  
  text-align: center;
  
  }
  
  form {
  
  display: flex;
  
  flex-direction: column;
  
  }
  
  label {
  
  font-weight: bold;
  
  margin-bottom: 10px;
  
  }
  
  input {
  
  padding: 10px;
  
  margin-bottom: 15px;
  
  border-radius: 1px;
  
  border: 2px solid #ccc;
  
  }
  
  button[type="submit"] {
  
  background-color: #007bff;
  
  color:white;
  
  padding: 10px;
  
  border: none;
  
  border-radius: 5px;
  
  margin-bottom: 15px;
  
  cursor: pointer;
  
  }
  
  .link-btn {
  
  background-color: transparent;
  
  border: none;
  
  color: #007bff;
  
  cursor: pointer;
  
  }
  
  .logo {
  
  display: block; /* Ensures the logo is rendered as a block element */
  
  margin: 0 auto; /* Centers the logo horizontally within its container */
  
  width: 150px; /* Set the desired width for the logo */
  
  height: auto; /* Adjusts the height automatically while maintaining the aspect ratio */
  
  margin-bottom: 20px; /* Adds some spacing between the logo and the heading */
  
  }